@import url('https://fonts.googleapis.com/css2?family=prompt:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'prompt';
    font-size: 18px;
    background: url(../img/background.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding: 20px;
}

header{
    background: url(/frontend/img/background.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

nav{
    height: 95px;
    background-color: #262952cb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding: 0px 20px;
}

a{
    color:#D54873;
    text-decoration: none;
}

.btn, button{
    color: #fff;
    font-family: 'prompt', sans-serif;
    background-color: #D54873;
    border: 0;
    font-size: 26px;
    border-radius: 60px;
    padding: 10px;
    cursor: pointer;
}

.btnDis{
    background-color: #c2c2c2;
}

input, select{
    border: 0;
    border-radius: 20px;
    height: 10px;
    padding: 5px;
    font-size: px;
    font-family: 'prompt', sans-serif;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

/* **************************************** */
.login{
    background:none;
}



/* *************************************** */
.intro{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.intro-text{
    color: #fff;
    width: 840px;
}

.intro-logo{
    width: 550px;
    background-color: #D54873;
    padding: 5px;
}

.introBtn{
    width: 350px;
    padding: 10px;
    text-align: center;
}

/* *************************************** */

.regis-main{
    width: 750px;
    height: 760px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputGroup{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.inputGroup input{
    height: 55px;
    width: 650px;
}

#register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#register button{
    width: 250px;
}
/* ******************************************* */

.custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .custom-file-label {
      width: 300px;
      height: 120px;
    font-size: 1em;
    padding: 10px 15px;
    background-color: #D9D9D9;
    color: #686868;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/* *************************************** */
.noti, .profile{
    background: none;
}

.noti img, .profile img{
    width: 32px;
}

#searchBar img{
    width: 32px;
    display: flex;
    margin-right: 10px;
}

#searchBar{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.searchBarFocus{
    border:solid 1px #D54873;
}

#search{
    background: none;
    width: 820px;
    padding: 10px;
}

.filterBar{
    background-color: #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}


/* *************************************** */
.btn:hover, button:hover{
    background-color: #E27C9B;
    border: none;
    transition: 0.1s ease-out;
    color: #fff;
}

.btnDis:hover{
    background-color: #c2c2c2;
}

input:focus, select:focus{
    outline: 0;
    border: solid 1px #D54873;
}

a:hover{
    color:#E27C9B;
}

#search:focus{
    border: 0;
}

.noti:hover, .profile:hover{
    background: none;
}